.calc-button {
  font-weight: bold;
  text-transform: uppercase;
  position: fixed;
  bottom: 10px;
  right: 10px;
  box-shadow:
   inset rgba(187, 87, 87, 0.5) -3px -3px 8px,
   inset rgba(255,255,255,.9) 3px 3px 8px,
   rgba(179, 74, 74, 0.8) 3px 3px 8px -3px;
}
