.reasons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 220px 0 100px 275px;
}

// --------------------------------------------------------------------------------------------
// ----------------------(min-width : 1024px) and (max-width : 1180px)--------------------------
// --------------------------------------------------------------------------------------------

@media only screen and (min-width : 1025px) and (max-width : 1180px) {
  .reasons {
    margin: 260px 0 100px 275px;
  }
}

// --------------------------------------------------------------------------------------------
// ----------------------(min-width : 595px) and (max-width : 1025px)--------------------------
// --------------------------------------------------------------------------------------------

@media only screen and (min-width : 595px) and (max-width : 1025px) {
  .reasons {
    margin: 40px 0 40px 0;
  }
}
// --------------------------------------------------------------------------------------------
// ----------------------(min-width : 320px) and (max-width : 595px)--------------------------
// --------------------------------------------------------------------------------------------

@media only screen and (min-width : 320px) and (max-width : 595px) {
  .reasons {
    margin: 40px 0 40px 0;
    flex-direction: column;
  }
}